:root { 
  font-family: DM Sans, sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(99, 99, 99, 0.82);
  background: rgba(255, 255, 255, 0.825);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  margin: 10px;
  font-size: 20px;
}



/* Styles in Home */
.paymentApp {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 0px;
  text-align: start;
  width: 70%;
  border-radius: 20px;
}

.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.label {
  display: block;
}

.input-number {
  text-align: center;
  width: 40%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.homeTextos {
  margin-bottom: 10px;
}


.inline-text {
  display: inline;
  margin-right: 10px;
}


/* Styles in dateApp */
.btnDate {
  background-color: transparent;
  border: transparent;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 18px;
  color: #007D88;
}

/* Styles in dateSelector */
.date-selector-container {
  display: flex;
  gap: 20px;
}

.date-select {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #007D88;
}

.AddDate {
  background-color: transparent;
  border: transparent;
  color: #007D88;
  font-weight: 700;
}

.fechaAgregada {
  display: flex;
  gap: 10px;
}

/* ESTILOS PARA LA TABLA */


.cuotas-table th {
  font-size: 17px;
  color: #007D88;
}

.cuotas-table th,
.cuotas-table td {
  text-align: center;
}

.cuotas-table input {
  width: 100px;
  min-width: 50%;
  height: 40px;
  font-family: DM Sans, sans-serif;
  text-align: center;
  border-color: transparent;
  background-color: white;
  color: #20c997;
  font-weight:bold;
  font-size: 17px;
}


.cuotas-table {
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 50px;
  margin-top: 50px;
  overflow-x: auto;
}

.cuotas-table th, .cuotas-table td {
  border: 1px solid transparent;
}

.editable-total {
  padding: 0px 0px 0px 100px;
  text-align: center;
  
}

.th-total{
  display: flex;
  justify-content: center;
  margin-left: 100px !important;
}


.cuotas-table tbody tr:nth-child(odd) {
  background-color: transparent;
  
}

.people-table {
  width: 20% !important;
  margin-right: 1px;
}

.td-personas {
  display: flex;
  width: 100%;
  
}

.table-container {
  overflow-x: auto; /* Agrega desplazamiento horizontal */
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.scrollable-table td {
  min-width: 150px; 
  
}

.cuotas-table th,
.cuotas-table td {
  text-align: center;
  padding: 5px; 
}


/* FIN DE ESTILOS PARA LA TABLA */


/* resolucion telefono */


@media (max-width: 900px) {
  
  .date-selector-container {
    flex-direction: row;
    gap: 5px;
  }

  .paymentApp {
    width: 100%;
  }

  .cuotas-table {
    display: table;
    width: 100%;
  }

  .cuotas-table td {
    padding-bottom: 10px;
  }

  .cuotas-table th {
    font-size: 14px;
    color: #007D88;
  }

  .cuotas-table th,
  .cuotas-table td {
    text-align: center;
    border: 1px solid transparent;
    padding-left: 5px;
  }

  .editable-total {
    padding: 0px;
    text-align: center;
  }
}




@media (max-width: 900px) {
  
  .date-selector-container {
    flex-direction: row;
    gap: 5px;
  }

  .paymentApp {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    text-align: start;
    width: 100%;
    border-radius: 20px;
  }
  



  .cuotas-table td {
    padding-bottom: 10px;
  }

  .cuotas-table th {
    font-size: 14px;
    color: #007D88;
  }

  
  .cuotas-table th, .cuotas-table td {
    border: 1px solid transparent;
  }
  
  .editable-total {
    padding: 0px 0px 0px 0px;
    text-align: center;
    
  }
  
  .cuotas-table th,
  .cuotas-table td {
    text-align: center;
  }


  
  .cuotas-table th,
  .cuotas-table td {
    text-align: center;
    padding-left: 5px; 
  }
  
  




}
