:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(28, 25, 24);
  background: linear-gradient(
    300deg,
    #4c453beb 100%
  );
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 14px;
}

h2 {
  margin: 0;
}

h4 {
  margin: 10px;
}



/* Styles in Home */
.paymentApp {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  text-align: start;
  width: 80%;
  background-color: #3d3b3bc2;
  border: 1px solid #ec6521;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #ec6521;
}

.inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.label {
  font-size: 12px;
  display: block;
}

.input-number {
  text-align: center;
  width: 40%;
  height: 40px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnAñadir {
  width: 150px;
  height: 40px;
  font-size: 12px;
  background-color: #ec6521;
  margin-top: 25px;
  border-radius: 10px;
}

.homeTextos {
  margin-bottom: 10px;
}

.orange-text {
  color:  #ec6521;
  font-size: 15px;
  font-weight: 700;
}

.inline-text {
  display: inline;
  margin-right: 10px;
}


/* Styles in dateApp */
.btnDate {
  background-color: #ec6521;
  width: 10%;
  height: 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 12px;
}

/* Styles in dateSelector */
.date-selector-container {
  display: flex;
  gap: 20px;
}

.date-select {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 5%;
}

/* Styles in cuotas */
.cuotas-table {
  border-collapse: collapse;
  width: 100%;
}

.cuotas-table th,
.cuotas-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.cuotas-table th {
  font-size: 12px;
  color: white;
}

.cuotas-table {
  width: 80%;
  border-collapse: collapse;
  margin-right: 20px;
}

.cuotas-table th,
.cuotas-table td {
  text-align: center;
}

.cuotas-table input {
  width: 50%;
  text-align: center;
}

.input-personas {
  width: 50px !important;
}

/* estilos para la tabla */
.cuotas-table {
  background-color: transparent;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cuotas-table th, .cuotas-table td {
  background-color: rgba(14, 14, 14, 0.234);
  border: 1px solid transparent;
  padding: 10px;
}

.cuotas-table tbody tr:nth-child(odd) {
  background-color: rgba(14, 14, 14, 0.096);
}





